In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
from selenium.common.exceptions import NoSuchElementException

def search_gst(gstin):
    # Setup webdriver
    options = Options()
    options.add_argument("--headless")  # Ensure GUI is off
    options.add_argument("--no-sandbox")
    options.add_argument("--disable-dev-shm-usage")

    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)

    # Open the website
    driver.get("https://cleartax.in/gst-number-search/")

    # Locate the text box and enter the gstin number
    search_box = driver.find_element(By.ID, "input")
    search_box.send_keys(gstin)

    # Click search
    # search_button = driver.find_element(By.XPATH, "//button[normalize-space()='Search']")
    # search_button = (By.XPATH("//button[text()='SEARCH']"))
    search_button = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[4]/div[1]/div[2]/div[1]/div/button")
    search_button.click()

    # Wait for the result to load
    driver.implicitly_wait(10)
    result = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[4]/div[1]/div[2]/div[2]/div[1]/div/div")
    result_text = result.text
    if result_text != '':
        business_name = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[4]/div[1]/div[2]/div[2]/div[1]/div/div/div[1]/small")
        regtype = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[4]/div[1]/div[2]/div[2]/div[1]/div/div/div[8]/small")
        bname_text = None
        bname_text = business_name.text
        regtype_text = regtype.text
        # pan = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[4]/div[1]/div[2]/div[2]/div[1]/div/div/div[2]/small")
        # address = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[4]/div[1]/div[2]/div[2]/div[1]/div/div/div[3]/small")
        # entype = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[4]/div[1]/div[2]/div[2]/div[1]/div/div/div[4]/small")
        

    # Close the driver
    driver.quit()
    return [bname_text,regtype_text]

    # try:
    #     # Check if the gst number is invalid
    #     error_message = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[4]/div[1]/div[2]/div[2]/div[1]/div/div[2]/p")
    #     if error_message:
    #         return "Not found"
    # except NoSuchElementException:
    #     # Extract the result
    #     result = driver.find_element(By.CLASS_NAME, "all-info")
    #     return result.text

    # finally:
    #     # Close the driver
    #     driver.quit()

# Test the function
print(search_gst("01AACCO0803A1ZL"))
# print(type(search_gst("dsflgjds")))

['ORKAN ENERGY PRIVATE LIMITED', 'Regular']

In [6]:
import pandas as pd

df = pd.read_excel('GSTIN.xlsx', engine='openpyxl',sheet_name='Sheet1')
df.head()

             GSTIN  Validity status   Active/ Inactive status
0  01AACCO0803A1ZL               NaN                      NaN
1  01AAGCR1977G1ZH               NaN                      NaN
2  01AAICB7374F1ZU               NaN                      NaN
3  01AAWCS1062R1ZT               NaN                      NaN
4  01ABFPF6080K1ZW               NaN                      NaN

In [8]:
df = df.rename(columns={'Validity status ': 'business name', 'Active/ Inactive status': 'registration type'})
df.head()

             GSTIN  business name  registration type
0  01AACCO0803A1ZL            NaN                NaN
1  01AAGCR1977G1ZH            NaN                NaN
2  01AAICB7374F1ZU            NaN                NaN
3  01AAWCS1062R1ZT            NaN                NaN
4  01ABFPF6080K1ZW            NaN                NaN

In [ ]:
for i,r in df.iterrows():
    print(search_gst(r['GSTIN']))
    df.loc[i,'business name'],df.loc[i,'registration type'] = search_gst(r['GSTIN'])

In [11]:
df.head()

,GSTIN,business name,registration type
0,01AACCO0803A1ZL,ORKAN ENERGY PRIVATE LIMITED,Regular
1,01AAGCR1977G1ZH,ROYAL KASHMIR HERITAGE RESORTS PRIVATE LIMITED,Regular
2,01AAICB7374F1ZU,BPL LIFE SCIENCE PVT LTD UNIT II,Regular
3,01AAWCS1062R1ZT,SRV HOUSING & INFRA PRIVATE LIMITED,Regular
4,01ABFPF6080K1ZW,IMRAN TRADERS,Regular

In [1]:
df.to_excel('GSTIN_verified.xlsx',index=False)

NameError: name 'df' is not defined